################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Core2019
/Core2019/bin/Debug/netcoreapp2.2
/Core2019/obj
